@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

/* Inicio estilos menu */
nav {
  background-color: rgb(91, 51, 236);
  height: auto;
  padding: 10px;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s all;
  /* border: 1px solid red; */
  padding: 10px;
}

.nav-item:hover {
  text-decoration: underline;
  font-size: 19px;
}
/* Fin estilos menu */

/* Inicio estilos varios */
a {
  outline: none;
  text-decoration: none;
  color: black;
  padding: 10px;
}

ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
}

/* Fin estilos varios */

/* Inicio estilos de noticias */

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  /* background-color: #f6f6f6; */
  border-radius: 15px;
  min-height: 190px;
}

.new {
  width: 370px;
  height: fit-content;
  object-fit: cover;
  box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 1%;
  margin-top: 0%;
  margin-bottom: 2%;
  object-fit: cover;
  overflow: hidden;
  background-color: white;
}
.new-image {
  width: 100%;
  object-fit: cover;
}
.new-name {
  padding: 10px;
}
.new-name h1 {
  display: inherit;
  margin: 0px;
  padding: 0px;
}
.new-title {
  padding: 10px;
}
/* Fin estilos de noticias */

/*Inicio estilos buscador */

main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-input input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}
main .main-input-container:hover {
  box-shadow: 0px 1px 6px 0px #20212447;
  border-color: #dfe1e500;
}
main .main-input .search-icon {
  background-image: url("https://img.icons8.com/android/24/000000/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

main .main-buttons {
  width: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

main .main-buttons button {
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  color: #5f6368;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  cursor: pointer;
}
main .main-buttons button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0, 1);
  color: #222;
  background-color: #f8f8f8;
}

/* Fin estilos buscador */

/*Inicio Resposive Designe del Banner y decoracion descripcion final*/
@media screen and (max-width: 600px) {
  main .main-input {
    width: inherit;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  main .main-input-container {
    width: inherit;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .main-input input {
    width: inherit;
    height: 40px;
    border: none;
    outline: none;
  }
  main .main-input .search-icon {
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
  }
  .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    /* background-color: #f6f6f6; */
    border-radius: 15px;
    min-height: 190px;
  }

  .new {
    width: inherit;
    height: fit-content;
    object-fit: cover;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 1%;
    margin-top: 0%;
    margin-bottom: 2%;
    object-fit: cover;
    overflow: hidden;
    background-color: white;
  }
}
/*Final Resposive Designe del Banner y decoracion descripcion final*/
